*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/holi_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation: animate 30s linear infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image:url(./images/holi_1.jpg)
    }
    15%{
        background-image:url(./images/holi_1.jpg)
    }
    16%{
        background-image:url(./images/holi_2.jpg)
    }
    32%{
        background-image:url(./images/holi_2.jpg)
    }
    33%{
        background-image:url(./images/holi_3.jpg)
    }
    49%{
        background-image:url(./images/holi_3.jpg)
    }
    50%{
        background-image:url(./images/holi_4.jpg)
    }
    66%{
        background-image:url(./images/holi_4.jpg)
    }
    67%{
        background-image:url(./images/holi_5.jpg)
    }
    83%{
        background-image:url(./images/holi_5.jpg)
    }
    84%{
        background-image:url(./images/holi_6.jpg)
    }
    99%{
        background-image:url(./images/holi_6.jpg)
    }
    100%{
        background-image:url(./images/holi_1.jpg)
    }
}

.container{
    display: flex;
    padding: 10px auto;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    width: 60vw;
}

.container:hover{
        transition-duration: 2s;
        background: rgba(255, 255, 255, 0.6);
        animation: animate1 4s linear infinite;
}

@keyframes animate1{
    0%,50%,100%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-20px);
    }
    75%{
        transform: translateY(20px);
    }
}

.wish{
    margin: auto;
    padding: 10px auto;
    text-align: center;
    font-size: 1.5em;
    filter: brightness(200%);
    filter: contrast(150%);
}

@media only screen and (max-width: 400px) {
    .wish {
        font-size: 24px;
    }
}
